<!DOCTYPE html>
<html>
  <head>
    <title>Alyst</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="ethers" class="min-h-screen">
    <nav style="background: linear-gradient(90deg, #4ba260 0%, #1A4525 100%)">
      <div class="container mx-auto px-6 py-2 flex justify-between items-center">
        <a class="w-48" href="/">
          <%= image_tag("AlystSVG2.svg", :alt => "Alyst") %>
        </a>
        <div class="block md:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Canto</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
        <div class="hidden md:block">
          <ul class="inline-flex">
            <% if user_signed_in? %>
              <li class="text-white"  style="font-family: 'Perpetua Titling MT', sans-serif;"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% end %>

            <li class="text-white"  style="font-family: 'Perpetua Titling MT', sans-serif;"><a class="px-4" href="https://evm.explorer.canto.io/" target="_blank">Canto Explorer</a></li>
            <li class="text-white"  style="font-family: 'Perpetua Titling MT', sans-serif;"><%= link_to "Apply To Join PanAlyst", new_project_path, class: "px-4" %></li>
            <li class="text-white"  style="font-family: 'Perpetua Titling MT', sans-serif;"><a class="px-4" href="https://canto.io/bridge" target="_blank">Canto Bridge</a></li>
            <%# <li class="text-white"  style="font-family: 'Perpetua Titling MT', sans-serif;"><a data-action="click->ethers#connectWallet" data-ethers-target="etherState" class="px-4 hover:text-gray-800" href="#">Connect</a></li>
            <li class="text-white"  style="font-family: 'Perpetua Titling MT', sans-serif;"><p class="showAccount hidden" data-ethers-target="etherState"></p></li> %>
          </ul>
        </div>
      </div>
    </nav>
    <main data-controller="filter">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <footer class="bg-gray-100 sticky top-[100vh]" style="background: linear-gradient(90deg, #4ba260 0%, #1A4525 100%)">
      <div class="container mx-auto px-6 pt-10 pb-6">
        <div class="flex justify-center">
          <div >
            <div>
              <div>
                <%= image_tag("AlystSVG2.svg", :alt => "Alyst") %>
              </div>
            </div>
            <div class="mt-6 text-center">
              <%# <li class="mx-4 inline-block"><a href="https://discord.gg/arbitrum" target="_blank"><i class="fab fa-discord" aria-hidden="true"></i></a></li> %>
              <li class="mx-4 inline-block text-white"><a href="https://twitter.com/alyst_xyz" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li class="mx-4 inline-block text-white"><a href="https://github.com/alystxyz/alyst" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>
            </div>

            <div class="mt-4 text-center">
              <div>
                <div>
                  <p class="text-white">© AlystXYZ, Inc. 2022. All Rights Reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
